.services-container {
    /* background-image: url(https://morningchores.com/wp-content/uploads/2020/12/budget-food-garden.jpg); */
   height: 150vh;
    background-size: cover;
  
  } 
  
  .navi4 {
    /* position: absolute;
    top: 10px; 
    left: 58%; 
    margin-left:375px;
    width: 10%;
    color: rgb(248, 245, 245);
    font-size: 30px;
    padding: 5px;
    display: flex;
    justify-content: space-around; */
    padding: 10px 20px;
    background-color: #282829;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  .navi4 a:hover{
    background-color: #aac799;
    color: #fff;
    border-radius: 10px;
    
}
.navi4 a{
    font-size: 28px;
    text-decoration: none;
    color: rgb(247, 241, 241);
    padding: 10px;
    
}
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
.about-me {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
  /* padding: 100px ; */
 
}
.about-me p{
  color: white;
}
.about-me img {
  width: 500px;
  max-width: 100%;
  height: auto;
  border-radius: 0px;
}
.about-me-text {
  font-size: 30px;
  color: #333333;
  text-transform: uppercase;
  margin: 0;
}
.about-me-text p {
  font-size: 40px;
  color: #585858;
  margin: 10px 0;
}
.about-me img {
  width: 500px;
  max-width: 100%;
  height: auto;
  border-radius: 0px;
}
.about-me-text {
  font-size: 30px;
  color: #333333;
  text-transform: uppercase;
  margin: 0;
}
.about-me-text p {
  font-size: 40px;
  color: #585858;
  margin: 10px 0;
}
/* CSS for footer */
.about-me1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    /* padding: 100px ; */
  }
.about-me1 img {
    width: 500px;
    max-width: 100%;
    height: auto;
    border-radius: 0px;
  }
  
  .about-me1-text {
    font-size: 30px;
    color: #333333;
    text-transform: uppercase;
    margin: 0;
  }
  
  .about-me1-text p {
    font-size: 40px;
    color: #585858;
    margin: 10px 0;
  }
.eventside{
  font-size:15px;
}
.event1{
  border:2px solid rgb(8, 7, 10); 
  border-radius: 5px;
/* box-shadow:#121e6a ;  */
/* box-shadow:7px 7px 10px 10px rgb(83, 81, 94) ;  */
padding: 5px 5px 5px 5px;
background: linear-gradient(179.1deg, rgb(246, 248, 247) 2.3%, rgb(108, 109, 108) 98.3%);
color: white;
height:450px;  width: 300px;

}

.event2{
    border:2px solid rgb(8, 7, 10); 
    border-radius: 5px;
  /* box-shadow:#121e6a ;  */
  /* box-shadow:7px 7px 10px 10px rgb(83, 81, 94) ;  */
  padding: 5px 5px 5px 5px;
  background: linear-gradient(179.1deg, rgb(246, 248, 247) 2.3%, rgb(108, 109, 108) 98.3%);
  color: white;
  height:450px;  width: 300px;

}
.event3{
    border:2px solid rgb(8, 7, 10); 
    border-radius: 5px;
  /* box-shadow:#121e6a ;  */
  /* box-shadow:7px 7px 10px 10px rgb(83, 81, 94) ;  */
  padding: 5px 5px 5px 5px;
  background: linear-gradient(179.1deg, rgb(246, 248, 247) 2.3%, rgb(108, 109, 108) 98.3%);
  color: white;
  height:450px;  width: 300px;

}
.event4{
    border:2px solid rgb(8, 7, 10); 
    border-radius: 5px;
  /* box-shadow:#121e6a ;  */
  /* box-shadow:7px 7px 10px 10px rgb(83, 81, 94) ;  */
  padding: 5px 5px 5px 5px;
  background: linear-gradient(179.1deg, rgb(246, 248, 247) 2.3%, rgb(108, 109, 108) 98.3%);
  color: white;
  height:450px;  width: 300px;

}
.event5{
    border:2px solid rgb(8, 7, 10); 
    border-radius: 5px;
  /* box-shadow:#121e6a ;  */
  /* box-shadow:7px 7px 10px 10px rgb(83, 81, 94) ;  */
  padding: 5px 5px 5px 5px;
  background: linear-gradient(179.1deg, rgb(246, 248, 247) 2.3%, rgb(108, 109, 108) 98.3%);
  color: white;
  height:450px;  width: 300px;

}
.event6{
    border:2px solid rgb(8, 7, 10); 
    border-radius: 5px;
  /* box-shadow:#121e6a ;  */
  /* box-shadow:7px 7px 10px 10px rgb(83, 81, 94) ;  */
  padding: 5px 5px 5px 5px;
  background: linear-gradient(179.1deg, rgb(246, 248, 247) 2.3%, rgb(108, 109, 108) 98.3%);
  color: white;
  height:450px;
  width: 300px;

}
.para{
    margin-top: 10px
}
@import url('https://fonts.googleapis.com/css?family=Libre+Caslon+Text:400,700&display=swap');
.button-33 {
    margin-top:15px;
    margin-left:10px ;
  background-color: #4a4b4a;
  border-radius: 10px;
  box-shadow: #b9b9b9,;
  color: rgb(249, 249, 255);
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 17px 30px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-33:hover {
  box-shadow: rgba(240, 244, 244, 0.35) 0 -25px 18px -14px inset,rgba(250, 250, 251, 0.25) 0 1px 2px,rgba(248, 249, 248, 0.25) 0 2px 4px,rgba(245, 247, 245, 0.25) 0 4px 8px,rgba(248, 249, 248, 0.25) 0 8px 16px,rgba(247, 248, 247, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
.button-31 {
    margin-top: 18px;
    margin-left:10px ;
    background-color: #4a4b4a;
    border-radius: 10px;
    box-shadow: #b9b9b9,;
    color: rgb(249, 249, 255);
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 17px 30px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-31:hover {
  box-shadow: rgba(240, 244, 244, 0.35) 0 -25px 18px -14px inset,rgba(250, 250, 251, 0.25) 0 1px 2px,rgba(248, 249, 248, 0.25) 0 2px 4px,rgba(245, 247, 245, 0.25) 0 4px 8px,rgba(248, 249, 248, 0.25) 0 8px 16px,rgba(247, 248, 247, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}