.body41 {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  .head1 {
    
    background-color: #5847a5;
    padding: 10px;
    color: #fff;
  }
  .head1 h1{
    color: #fff;
  }
  #logo{
    height: 10ch;
    margin-top: 10px;

}
  .para67 {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  .list1 {
    max-width: 600px;
    margin: 0 auto;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    margin-bottom: 10px;
  }
  
  .lo {
    text-align: center;
    color: #666;
    margin-top: 10px;
  }
  
  .mine012 {
    text-align: center;
    margin-top: 20px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #282829;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #0c0c0c;
  }